label {
    margin-right: 50px;
}

.form-styles {
    background: rgba(255,255,255, 0.2);
    width: 400px;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    margin: auto;
    margin-top: 15px;
}

input {
    padding:10px;
    margin-bottom: 15px;
}

.password-login {
    margin-right: 63px;
}